<% provide(:title,"CV") %>

<title><%= yield(:title) %> | Ruby on rails Tutorial Sample App</title>
<link rel="stylesheet" href="cv.css" type="text/css">

<body bgcolor= "#bf5c71" >
<h1 class="h1">CURRICULUM VITAE</h1>
<img src="images/CV/cessy.jpg" width="400" height="300">
<h2>PERSONAL DETAILS</h2>
<p>
<table cellspacing= "20" width="50%" align="center">
<tr> <td>Nationality</td> <td>Kenyan</td></tr>
<tr><td>Gender </td>        <td>Female</td></tr>
<tr><td>Date of birth</td>   <td>15th June 1995</td></tr>
<tr><td>Marital status</td>  <td>Single</td></tr
<tr><td>ID Number</td>       <td>31998634</td></tr>
<tr><td>Religion </td>       <td>Christian<td></tr>
<tr><td>Phone </td>          <td>0706737244</td></tr>
<tr><td>E-Mail</td>          <td>cessmbuguar@gmail.com/ cesswairimu@yahoo.com</td></tr>
<tr><td>Languages</td>       <td>English, Swahili.</td></tr>
<tr><td>Residence</td>       <td>Nakuru County.</td></tr>
</table>


<h2>PERSONAL PROFILE</h2>
I am a diligent, energetic and enthusiastic.<br> I am ambitious and very optimistic in
life.<br> I have the ability to learn and adapt easily in new environment.<br>

<h2>OBJECTIVES</h2>
<ul>
<li>To add value to your organization and utilize my abilities towards
achievement of the organizational goals.</li>
<li> To work in a challenging and flexible environment that will maximize my
potential and performance with minimal supervision.</li>
<li> Develop my career through unquestionable integrity in all dealings.</li>
</ul>

<h2>EDUCATIONAL BACKGROUND</h2>
2013 to date; Student at Maseno university studying Bachelor of Science (Computer Science and
Technology)<br>
Attained : Kenya Certificate of Secondary Education<br>
2009-2012 : Nyakoiba secondary school<br>
Attained : Kenya Certificate of Primary Education<br>
2000-2007 : LangaLanga primary school<br>

<h2>EXPERIENCE</h2>
- Attached at Heritage Printers Gilgil as quality design assistant<br>

<h2>HOBBIES AND INTERESTS</h2>
<ul>
<li>Participating in charity programs</li>
<li>Socializing and networking.</li>
<li>Hiking</li>
<li> Singing</li>
<li> Reading, writing</li>
<li>Technology</li>
</ul>

<h2>VALUES</h2>
<ul>
<li>Integrity.</li>
<li>Honesty.</li>
<li> Transparency.</li>
<li>Kind and compassionate</li>
</ul>
<h2>ABILITIES</h2>
<ul>
<li> Team building</li>
<li> Influential</li>
</ul>

<h2>REFEREES</h2>
<p>
<ol><li>
DR.SLYVESTRE MCOYOWO<br>
DEAN SCHOOL OF COMPUTING AND INFORMATICS<br>
MASENO UNIVERSITY<br>
Tel. 0724-519458<br>
</li>
<br>
<li>MR KELVIN MUGOYA<br>
LECTURER COMPUTER SCIENCE DEPARTMENT<br>
MASENO UNIVERSITY<br>
Tel. 0722-958967<br>
</li>
<br>
<li>MR JOHNKAGO<br>
C.E.O HERITAGE PRINTERS<br>
GILGIL<br>
Tel.0721-749662<br>
</li>
<br>
</p>

<div>
<footer>
Copyright Ceciliah Wairimu @cessmbuguar@gmail.com

</footer>
</div>

</body>
